In [2]:
#importing library like numpy, pandas
import numpy as np
import pandas as pd
#importing dataset
df=pd.read_csv("C:/Users/Rafi/Downloads/IMDB_Movies.csv")

In [5]:
print(df)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
4       NaN        Doug Walker                     NaN       NaN
...     ...                ...                     ...       ...
5038  Color        Scott Smith                     1.0      87.0
5039  Color                NaN                    43.0      43.0
5040  Color   Benjamin Roberds                    13.0      76.0
5041  Color        Daniel Hsia                    14.0     100.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney
5042                     16.0                    16.0  Brian Herzlinger

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
5038                   637.0          NaN                     Comedy|Drama
5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
5040                     0.0          NaN            Drama|Horror|Thriller
5041                   946.0      10443.0             Comedy|Drama|Romance
5042                    86.0      85222.0                      Documentary

      ... num_user_for_reviews language  country  content_rating       budget  \
0     ...                 3054  English      USA           PG-13  237000000.0
1     ...                 1238  English      USA           PG-13  300000000.0
2     ...                  994  English       UK           PG-13  245000000.0
3     ...                 2701  English      USA           PG-13  250000000.0
4     ...                           NaN      NaN             NaN          NaN
...   ...                  ...      ...      ...             ...          ...
5038  ...                    6  English   Canada             NaN          NaN
5039  ...                  359  English      USA           TV-14          NaN
5040  ...                    3  English      USA             NaN       1400.0
5041  ...                    9  English      USA           PG-13          NaN
5042  ...                   84  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score aspect_ratio  \
0         2009.0                  936.0        7.9         1.78
1         2007.0                 5000.0        7.1         2.35
2         2015.0                  393.0        6.8         2.35
3         2012.0                23000.0        8.5         2.35
4            NaN                   12.0        7.1          NaN
...          ...                    ...        ...          ...
5038      2013.0                  470.0        7.7          NaN
5039         NaN                  593.0        7.5        16.00
5040      2013.0                    0.0        6.3          NaN
5041      2012.0                  719.0        6.3         2.35
5042      2004.0                   23.0        6.6         1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[5043 rows x 28 columns]

In [3]:
#to check no. of rows and no. of columns
print(np.shape(df))
#to view info
print(df.info("max_counts"))

(5043, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5023 non-null   object
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB
None

In [7]:
#to find total no. of null values in each columns
print(df.isnull().sum())

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          20
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [8]:
#to check no. of duplicate rows
duplicate_rows=df[df.duplicated(keep=False)]
print(np.shape(duplicate_rows))

(90, 28)

In [9]:
#deleting duplicate rows
df1=df.drop_duplicates()
#no. of rows and no. of columns after removing duplicates
print(np.shape(df1))

(4998, 28)

In [10]:
#deleting rows in which director_name and language is not mention
df2=df1.dropna(subset=['director_name','language'])
#no. of rows and no. of columns after removing above rows
print(np.shape(df2))

(4882, 28)

In [11]:
#removing unwanted columns because of their no use
df2=df2.drop(['color','num_critic_for_reviews','director_facebook_likes','actor_3_facebook_likes','actor_2_name',
              'actor_1_facebook_likes','actor_1_name','num_voted_users','cast_total_facebook_likes','actor_3_name',
              'facenumber_in_poster','plot_keywords','movie_imdb_link','num_user_for_reviews','country','content_rating',
              'title_year','actor_2_facebook_likes','aspect_ratio','movie_facebook_likes',], axis=1)
#no. of rows and no. of columns after removing above columns
print(np.shape(df2))

(4882, 8)

In [12]:
#now checking no. of null values of each columns
print(df2.isnull().sum())

director_name      0
duration          12
gross            765
genres             0
movie_title        0
language           0
budget           390
imdb_score         0
dtype: int64

In [ ]:
#saving modified dataset df2 as NEW_IMDB_Movies.xlsx
df2.to_excel("C:/Users/Rafi/Downloads/NEW_IMDB_Movies.xlsx", index=False)